.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}
.logo {
  width: 120px;
}
.logo:hover {
  scale: 101%;
}
.nav-links {
  display: flex;
  gap: 25px;
}

.nav-links a {
  color: #2b2626;
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
  transition: color 0.2s ease-in-out;
}

.nav-links a:hover {
  color: #03c259;
}
