.footer {
  background-color: #1a1a2e;
  display: flex;
  height: 400px;
  width: 113%;
  align-items: center;
  justify-content: center;
}

/* About */
.About {
  width: 230px;
  margin-right: 220px;
  text-align: left;
  margin-bottom: 34px;
}
.About p {
  font-weight: 400;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
}
.About h1 {
  font-size: 18px;
  font-weight: 600;
  color: #f3f3f3;
  margin-bottom: 8px;
}

/* Quick links */
.links h1 {
  font-size: 18px;
  font-weight: 600;
  color: #f3f3f3;
  margin-bottom: 8px;
}
.links ul li {
  font-weight: 400;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 4px;
}
.links {
  text-align: left;
  margin-right: 220px;
}

/* subscribe email*/
.email {
  text-align: left;
}
.email p {
  width: 250px;
  font-weight: 400;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
}
.email h1 {
  font-size: 18px;
  font-weight: 600;
  color: #f3f3f3;
  margin-bottom: 8px;
}

/*  */
/*  */
/* Email Input and Button */
.email input[type="email"] {
  padding: 11px;
  margin-top: 22px;
  margin-left: -10px;
  margin-right: 10px;
  border-radius: 18px;
  border: 1px solid #ddd;
}
.email input[type="email"]:focus {
  transform: translateY(-5px);
  transition: transform 0.5s ease;
  border: 1px solid #20ff63;
  outline: none;
}
.email button {
  background: linear-gradient(90deg, #ff7f50, #ff4500);
  border-radius: 16px;
  font-weight: 600;
  color: black;
  padding: 9px 15px;
}
.email button:hover {
  transform: translateY(-5px);
  transition: transform 0.5s ease;
  background: linear-gradient(90deg, #ff4500, #ff7f50);
}
/* footer logo */
.loga {
  width: 110.25px;
  position: relative;
  top: -125px;
  left: -50px;
}
